<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TikTok Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TikTok.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>40207E121C1F98090065E438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40207E261C1F98090065E438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40207E311C1F98090065E438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>40207E451C1F995E0065E438</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
